@tailwind base;
@tailwind components;
@tailwind utilities;

/*Custom Fonts*/
@font-face {
    font-family: poppins;
    src: url("./fonts/Poppins.ttf");
}

/*Global configs*/
@layer base{
    html{
        font-family:poppins;
        font-size: large;
    }
}

div#root{
    height: 100%;
}

body{
    height: 100vh;
}

/*Custom colors*/
.bg-oxford-blue{
    background-color: #000022;
    --tw-bg-opacity: 1;
}